.switchBlock {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 100;

}

.langMenu {
    position: absolute;
    display: grid;
    gap: 10px;
    background-color: black;
    top: 40px;
    left: -10px;
    padding: 20px 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
    z-index: 4;
    background-color: white;
    border: 1px solid var(--blue);
    border-radius: var(--border-radius);
    z-index: 200;
}

.langMenu a {
    text-decoration: none;
}


.active {
    opacity: 1;
    pointer-events: auto;
}

.reveal {
    display: flex;
    align-items: center;
}

.reveal::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--blue);
    vertical-align: middle;
}

.langMenu.active~.reveal::after {
    border-top: none;
    border-bottom: 5px solid var(--blue)
}