.button {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: white;
    border-radius: var(--border-radius);
    transition: all .2s ease;
    min-width: fit-content;
    font-size: 1.2em;
    gap: 20px;
}


.button:hover {
    border: 1px solid var(--dgrey);
    background-color: var(--dgrey);

}