.lang {
    position: absolute;
    right: 50%;
    top: 20px;
    transform: translate(50%);
    z-index: 900;
}

.logo {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}