.flex {
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  gap: 100px;
  padding: 50px 10px;
}

.title {
  height: fit-content;
}

.quick {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
  margin: 0 auto;
}

.quick iframe {
  border: 0;
  border-radius: var(--border-radius);
  max-width: 600px;
  width: 100%;
  height: 650px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .flex {
    flex-direction: column;
    gap: 50px;
  }

  .about {
    gap: 50px;
  }
}
