.quick {
    width: 100%;
    margin: 0 auto;
    max-width: 730px;
    padding: 50px 0;
}

.quick iframe {
    border: 0;
    border: 3px solid black;
    border-radius: var(--border-radius);
    max-width: 730px;
    width: 100%;
}