.footer {
    background-color: black;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem 0;


}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column a,
.column h4 {
    color: white;
    transition: all .2s ease;
    font-weight: 500;
}

.column a:hover {
    color: var(--dgrey)
}

.logo {
    max-width: 150px;
}

@media (max-width:1200px) {
    .content {
        padding: 2rem 1rem;
    }
}