/* Базовый контейнер */
.component {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--component-bg-color, transparent);
  z-index: 10;
}

.block {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  box-sizing: border-box;
  z-index: 11;
}

.accent {
  background: linear-gradient(90deg, rgb(13, 27, 42) 0%, rgb(61, 90, 128) 70%);
}

.lgrey {
  --component-bg-color: var(--lgrey);
}
.dgrey {
  --component-bg-color: var(--dgrey);
}
.bgrey {
  --component-bg-color: var(--bgrey);
}
.black {
  --component-bg-color: var(--black);
}
.white {
  --component-bg-color: var(--white);
}
